body,
h1,
h2,
p,
span {
font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 1.4em;
	height: 30px;
}
img {
	width: 100%
}
body {
	overflow-x: hidden;
}
html,body {
	height: 100%;
	width: 100%;
	margin: 0;
}
b {
	font-weight: 900;
}
*:hover {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
section.header {
	padding-top: 10px;
}
.logo span {
	position: relative;
	height: inherit;
	display: inline-block;
	text-align: center;
	width: 65px;
}
.logo span:after{
	width: 65px;
	height: 65px;
	border: 1px solid #000;
	border-radius: 999em;
	position: absolute;
	content: '';
	left:0;
	top: -20px;
	text-align: center;
}
section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1215px;
	width: 100%;
	flex-wrap: wrap;
	margin: auto;
}
 
section.login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 95vh;
}
section.login > div {
	width: 100%;
	max-width: 330px;
	height: 280px;
 display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	            flex-direction: column;
	border: 1px solid #c9c9c9;
	padding: 0 35px;
	box-shadow: 4px 4px 5px -4px rgba(68,68,68,0.5);
}
section.login > div h1 {
	font-size: 1.2em;
}
section.login > div h1 span {
	color: #fff;
	width: 55px;
}
section.login > div h1 span:after {
	background: #000;
	z-index: -1;
	width: 55px;
	height: 55px;
	top: -17px;
}
section.login > div input {
	border: none;
	border-bottom: 1px solid #000;
	height: 40px;
	pointer: none;
	outline: none;
	font-size: 1.5em;
	font-weight: 500;

}
section.login > div input::placeholder { 
  color: #ababab;
  opacity: 1; /* Firefox */
  font-weight: 500;
  font-size: 1em;
}

section.login > div input:-ms-input-placeholder { 
  color: #ababab;
  font-weight: 500;
  font-size: 1em;
}

section.login > div input::-ms-input-placeholder { 
  color: #ababab;
  font-weight: 500;
  font-size: 1em;
}
section.login > div button {
	background: #e0e0e0;
	border: none;
	max-width: 90px;
	border-radius: 5px;
	padding: 10px 20px;
	color: #999;
	font-size: 0.8em;
	margin-left: auto;
	outline: none;
}
section.login > div button:hover {
	background: #000;
	color: #fff;
}


section input.search {
	max-width: 300px;
	width: 100%;
	border-radius: 999em;
	border: 1px solid #000;
	height: 20px;
	padding: 5px 30px;
	font-size: 1.1em;
	color: #000;
	background: url('../img/search.svg') no-repeat  7px 5px;
	background-size: 5%;
	
}
section input.search::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
  font-weight: 500;
}

section input.search:-ms-input-placeholder { 
  color: #ccc;
  font-weight: 500;
}

section input.search::-ms-input-placeholder {
  color: #ccc;
  font-weight: 500;
}
section.listings {
	margin-top: 35px;
	margin-bottom: 35px;
}
.flex-col {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
	flex-direction: column;
 	width: 33%;
 	max-width: 360px;
 	margin-bottom: 35px;
}
.flex-col.user {
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}
.flex-col.user span {
	text-align: right;
	color: #000;
	font-weight: 500;
	font-size: 1.1em;
}
.flex-col.user img {
	width: 5%;
	margin-right: 10px;
}
.flex-col figure {
	margin: 0;
	border: 1px solid #e6e6e6;
	padding: 13px 20px;
	border-radius: 0.5em;
}
.flex-col figure  img {
	width: 100%;
}
.flex-col .columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.flex-col .columns > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-col .columns h2 {
	margin: 14px 0 0;
	font-size: 1.2em;
	letter-spacing: -1px;
}
.flex-col .columns p {
	margin: 0;
	font-size: 1.1em;
	letter-spacing: -1px;
}

.flex-col .columns a {
	text-decoration:none;
	color: #000;
	font-size: 1.1em;
	letter-spacing: -1px;
}
.flex-col .columns a:hover {
	text-decoration:underline;
}
.flex-col .columns span {
	font-size: 1.1em;
	font-weight: bold;
} 
.rating div {
	font-size: 1.2em;
	color:#ccc;
	display: inline-block;
}
.rating div:before {
    content: '★ ';
    font-size: 1.4em;
}
.rating div:first-of-type,
.rating div:nth-of-type(2),
.rating div:nth-of-type(3){
	color: #000;
}
 
.flex-col .columns .views {
	opacity: 0
}
.flex-col .columns .views.show {
	opacity: 1;
}
.flex-col .columns .views span {
	color: #db4f27;
	font-size: 1em;
	font-weight: 100;
	font-style: italic;
	margin: 20px 0;
	font-size: 0.8em;
	font-weight: 700;
}
.flex-col.full-width {
	width: 100%;
	margin: 0;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 97%;
}
.flex-col.full-width .columns,
.flex-col.full-width .row {
	padding: 0 25px;
	width: 91%;
}
.flex-col.full-width .columns:first-of-type {
	align-items: center
}
.flex-col.full-width .columns:first-of-type  .price span {
	background: #999;
	color: #fff;
	padding: 10px 33px;
	border-radius: 5px;
}
.flex-col.full-width .columns h2 {
	margin: 0;
}
.flex-col .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.flex-col .row article p {
	margin: 0;
}
.flex-col .row p {
 	font-size: 1.1em;
	letter-spacing: -1px;
	display: inline-block;
	line-height: 1.6;
	margin: 1em 0;
}
.flex-col.full-width .columns.years {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
	-webkit-box-pack: justify;	
	-ms-flex-pack: justify;	
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 95px;
}
.flex-col.full-width .columns.years button {
	max-width: 130px;
	width: 100%;
	background: #e6e6e6;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;
	color: #000;
	border: 1px solid #000;
	font-weight: 700;
}
.flex-col.full-width .columns.years button:hover,
.flex-col.full-width .columns.years button:focus {
	background: #606060;
	color: #fff;
}
.flex-col.full-width .columns.years button:disabled,
.flex-col.full-width .columns.years button:disabled:hover {
	color: #999999!important;
	background: #f5f5f5!important;
}

.flex-col.full-width .columns:last-of-type {
	justify-content: flex-end;
}
.flex-col.full-width .columns button {
	background: #000;
	border:none;
	color: #fff;
	padding: 10px 33px;
	border-radius: 5px;
	font-size: 1.2em;
}
.disable {
	position: absolute;
	top: 0;		 
	left: 0;		 
	z-index: 1;		 
	width: 100%;		 
	max-width: 1920px;	 
	height: 100vh;
	display: none;
}
.disable.show  {
	background: rgba(255, 255, 255, 0.34);
	display: block;
}
#drawer {
	position: fixed;
	right: 0;
	max-width: 600px;
	width: 100%;
	height: 100%;
	top: 0;
	background: #fff;
	box-shadow: 0px 0px 5px 5px rgba(68,68,68,0.5);
	opacity: 0;
	transform: translateX(600px);
	z-index: 10;
	overflow: hidden;
}
#drawer.show{
	 opacity: 1;
	 transform: translateX(0);
	 transition: transform 0.5s ease;
}
#drawer a {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 1.2em;
	z-index: 10;
	text-decoration: none;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
	section input.search {
		width: 100%;
		max-width: 100%;
		background-size: 1em;
	}
	.flex-col {
		max-width: 100%;
		width: 49%;
	}
}


@media screen and (min-width: 0) and (max-width: 640px) {
	section.login > div {
		
width: 60%;
	}
	section.login > div input {
		font-size: 1em;
	}	 
	section.login > div button {
		max-width: 100%;
		width: 100%;
	}
	section input.search {
		max-width: 100%;
		background-size: 1em;
	}
	section {
		justify-content:center;
		width: 90%;
	}
	.flex-col {
		max-width: 100%;
		width: 100%;
	}
	.header .flex-col {
		max-width: 50%;
		margin-bottom: 0;
	}
	.user img {
		width: 10%;
	}
	h1.logo {
		font-size: 3vw;
	}
	h1.logo span {
		width: 2.6em;
	}
	h1.logo span:after {
		width: 2.5em;
		height: 2.5em;
		top: -10px;
	}
	.user span {
		font-size: 3vw
	}
	#drawer a {
		display: block;
	}
}